{% extends 'base.html.twig' %}
{% form_theme formLecon 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1> Création d'une lecon</h1>


    {{ form_start(formLecon) }}


    {{ form_row(formLecon.title,{'attr':{'placeholder': "Titre de la lecon"}}) }}
    {{ form_row(formLecon.content,{'attr':{'placeholder': "Contenu de la lecon"}}) }}
    {{ form_row(formLecon.image,{'attr':{'placeholder': "Url de l'image"}}) }}

    <button type="submit" class="btn btn-sucess">Ajouter la lecon</button>

    {{ form_end(formLecon) }}



{% endblock body %}