{% extends 'base.html.twig' %}

{% block title %}Hello EnglishController!{% endblock %}

{% block body %}
<section>
    {% for lecon in lecons %}
    <article><h2>{{ lecon.title }}</h2>
    <div class="metadata">Ecrit le {{ lecon.createdAT | date ('d/m/Y')}} à {{ lecon.createdAt | date ('H:i') }} dans la catégorie Hallowen</div>
    <div class="content">
        <img src="{{ lecon.image }}" alt="">
      {{ lecon.content | raw }}
        <a href="{{ path('english_show', {'id' : lecon.id}) }}" class="btn btn-primary">Lire la suite</a></div>
</article>
    {% endfor %}

</section>

{% endblock %}
