{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ lecon.title }}</h2>
        <div class="metadata">Ecrit le {{ lecon.createdAt | date ('d/m/Y') }} à{{lecon.createdAt | date ('H:i') }} dans la catégorie Hallowen</div>
        <div class="content">
            <img src="{{ lecon.image }}" alt="">
            {{ lecon.content | raw }}
    </article>
{% endblock body %}