{% extends 'base.html.twig' %}

{% block body %}

	<div class="container mt-4">

		<h1>Gérer les Listes</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for ldouble in ldoubles %}
					<tr>
						<td>{{ ldouble.id }}
						</td>
						<td>
							<a href="{{ path('admin.listdouble.edit', {id: ldouble.id}) }}" class="btn btn-secondary">Editer</a>
							<form method="post" action="{{ path('admin.listdouble.delete', {id: ldouble.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous vraiment sûr?')">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ldouble.id) }}">
								<button class="btn btn-danger">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="text-right">
			<a href="{{ path('admin.listdouble.new') }}" class="btn btn-primary">Créer une nouvelle liste</a>
		</div>
	</div>

{% endblock %}
